<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Author Blocker</title>
    <link rel="stylesheet" href="style/bootstrap.min.css" />

    <style>
        html {
            min-width: 350px
        }

        hr {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .container {
            margin-top: 0.5rem;
            margin-bottom: 15px;
        }

        .list-group {
            max-height: 300px;
            overflow-y: auto;
        }

        .list-group-item {
            padding: .4rem .75rem;
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div id="popup">
        <div class="container">
            <h3 class="text-center">List of blocked authors</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type username..." v-model.trim="inputUsername"
                    v-on:keypress.enter="addUserToChromeStorage" />
                <div class="input-group-append">
                    <button class="btn btn-danger" v-on:click="addUserToChromeStorage">Block user</button>
                </div>
            </div>
            <hr>
            <ul class="list-group" v-if="localUserList.length">
                <div v-for="(user, index) in localUserList">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{user}}
                        <button class="badge badge-danger badge-pill"
                            v-on:click="deleteUserFromChromeStorage(user)">del</button>
                    </li>
                </div>
            </ul>
            <div v-else class="h4 text-center">
                List is empty
            </div>
        </div>
    </div>

    <script src="js/vue.global.prod.js"></script>
    <script src="js/popup.js"></script>
</body>

</html>